/*debug*/

.debug .portfolio .box,
.debug .about .box,
.debug footer .footer-top .box{
    background-color: red;
    height: 50px;
}

.debug .contact .box{
    background-color: red;
    height: 200px;
}

/*fine debug*/

.white{
    color: white;
}

/*jambotrom*/

.jumbotrom{
    background-color: aqua;
    height: 400px;
}

.img{
    width: 15%;
}

.star{
    width: 300px;
}

.star .row-left,
.star .row-right{
    width: 100px;
    height: 4px;
    background-color: white;
}

/*fine jambotrom*/



.about{
    background-color: aqua;
}

.footer-top{
    background-color: blue;
}

.footer-bottom{
    background-color: black;
    color: white
}
