
.white{
    color: white;
}

/*jambotrom*/

.jumbotrom{
    background-color: aqua;
}

.img_jumb{
    width: 15%;
}

.star{
    width: 300px;
}

.star .row_left,
.star .row_right{
    width: 100px;
    height: 4px;
}

/*fine jambotrom*/

/*portfolio*/

.img_portfolio{
    width: 300px;
}

/*fine portfolio*/

.about{
    background-color: aqua;
}

.footer_top{
    background-color: blue;
}

.footer_bottom{
    background-color: black;
    color: white
}
